torch
torchvision
transformers
accelerate
diffusers
timm
open_clip_torch
easydict
einops
mosaicml-streaming
torchmetrics
tqdm
pandas
fastparquet
omegaconf
datasets
hydra-core
beautifulsoup4
mosaicml[tensorboard, wandb]
